@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 236 51% 99%;
    --foreground: 236 77% 5%;
    --muted: 356 24% 90%;
    --muted-foreground: 356 13% 32%;
    --popover: 236 51% 98%;
    --popover-foreground: 236 77% 4%;
    --card: 236 51% 98%;
    --card-foreground: 236 77% 4%;
    --border: 236 15% 91%;
    --input: 236 15% 91%;
    --primary: 236 31% 90%;
    --primary-foreground: 236 31% 30%;
    --secondary: 356 31% 90%;
    --secondary-foreground: 356 31% 30%;
    --accent: 116 31% 90%;
    --accent-foreground: 116 31% 10%;
    --destructive: 7 88% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 236 31% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 236 35% 1%;
    --foreground: 236 13% 98%;
    --muted: 356 24% 10%;
    --muted-foreground: 356 13% 68%;
    --popover: 236 35% 2%;
    --popover-foreground: 236 13% 99%;
    --card: 236 35% 2%;
    --card-foreground: 236 13% 99%;
    --border: 236 15% 15%;
    --input: 236 15% 15%;
    --primary: 236 31% 90%;
    --primary-foreground: 236 31% 30%;
    --secondary: 356 31% 90%;
    --secondary-foreground: 356 31% 30%;
    --accent: 116 31% 90%;
    --accent-foreground: 116 31% 10%;
    --destructive: 7 88% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 236 31% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities{
  .heading-1{
    @apply font-primary scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  .heading-2{
    @apply font-primary scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  .heading-3{
    @apply font-primary scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  .heading-4{
    @apply font-primary scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .paragraph{
    @apply font-secondary leading-7 [&:not(:first-child)]:mt-6;
  }
  .blockquote{
    @apply font-secondary mt-6 border-l-2 pl-6 italic;
  }
}
